@import "tailwindcss";
@plugin "@tailwindcss/typography";


@theme {
  /* Colors */
  --color-pastel-pink: #fff1f2;
  --color-pastel-blue: #eff6ff;
  --color-pastel-green: #f0fdf4;
  --color-pastel-yellow: #fefce8;
  --color-text-main: #1a1a1a;
  --color-text-muted: #6b7280;

  /* Fonts */
  --font-sans: "Inter", sans-serif;
  --font-serif: "Zen Old Mincho", serif;
}

@layer base {
  body {
    @apply bg-gray-50 text-text-main font-sans antialiased;
  }
}

/* Tiptap Placeholder Styles */
.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* Ensure editor takes full width/height as needed */
.tiptap {
  min-height: 50vh;
}

/* Mini prose for thumbnail preview */
.mini-prose p {
  margin-bottom: 2px !important;
}

.mini-prose br {
  display: block;
  content: "";
  margin-top: 1px;
}